@tailwind base;
@tailwind components;
@tailwind utilities;

.gridContainer{
  display: grid;
  padding: 2%;
  grid-template-columns: repeat(5, 1fr) ;
  grid-template-rows: repeat(4, 10em);
  column-gap: 2%;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
